<ul xmlns="http://www.w3.org/1999/html">
    <table>
    <tr>
        <th> ID</th>
        <th> First Name</th>
        <th> Last Name</th>
        <th> Email</th>
        <th> Phone Number</th>
        <th> Pager Number</th>
        <th> Salary</th>
    </tr>
    </thead>
    <tr>
        <td> {{ doctor.doctorID}}</td>
        <td> {{ doctor.first_name}}</td>
        <td> {{ doctor.last_name}}</td>
        <td> {{ doctor.email}}</td>
        <td> {{ doctor.phone_number}}</td>
        <td> {{ doctor.pager_number}}</td>
        <td> {{ doctor.salary}}</td>
    </tr>
    </table>
<table>
        <tr>

            <th> ID</th>
            <th> Doctor Last Name</th>
            <th> Patient Last Name</th>
            <th> Date of Appointment</th>
            <th> Update</th>
            <th> Delete</th>
        </tr>
            {% for appointment in appointmentlist %}
        <tr>
            <td> {{ appointment.appointmentID}}</td>
            <td> {{ appointment.doctorID.last_name}}</td>
            <td> {{ appointment.patientID.last_name}}</td>
            <td> {{ appointment.date}}</td>

            <td><a href="{% url 'appointment_update' appointment.appointmentID %}">
                <button> Update</button>
            </a></td>
            <!---TODO fix button placement ---->
            <td>
                <form action="{% url 'appointment_delete' appointment.appointmentID %}" method="post">
                    {% csrf_token %}
                    <button type="submit"> Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</ul>


<td><a href="{% url 'doctors'%}">
    <button> Back</button>
</a>